.App {
  text-align: center;
}

.flex{
  display: flex;
}

.cards{
  margin: 50px;
  background-color:blue;
}

.header-div{
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  color: whitesmoke;
}

.card-contact{
  background-color: red;
  height: 300px;
  width: 400px;
}

.card-contact p{
  padding: 20px;
}